# <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /kmak/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(/)?$ index.php [L]

    RewriteRule ^page/([0-9]+)$ index.php?page=$1 [QSA,L]

# </IfModule>
# <IfModule !mod_rewrite.c>
#     ErrorDocument 404 /index.php
# </IfModule>